/* ----- Generic Selectors ----- */
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: #20c997;
  color: white;
}

body {
  color: #4c4d4d;
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

a {
  color: inherit !important;
  transition: all 0.2s ease;
}

a:hover {
  color: #20c997 !important;
}

p {
  line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #252b33;
}

.green-text {
  color: #20c997;
}

.green-link {
  color: #20c997 !important;
}

.green-link:hover {
  color: #1baa80 !important;
}

.outlined-button {
  padding: 0.8rem 2.6rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  background-color: transparent;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.outlined-button.green {
  border: solid 2px #20c997;
  color: #20c997;
}

.outlined-button.green:hover {
  background-color: #20c997;
  color: white;
}

.outlined-button.gray {
  border: solid 2px #6c757d;
  color: #6c757d;
}

.outlined-button.gray:hover {
  background-color: #6c757d;
  color: white;
}

.contained-button {
  padding: 0.8rem 2.6rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  background-color: transparent;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.5s ease;
  background-color: #20c997;
  color: white;
  box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.15);
}

.contained-button:hover {
  background-color: #1baa80;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.self-center {
  align-self: center;
}

.section {
  padding: 6rem 0 4.5rem;
}

.section:nth-child(2n + 1) {
  background-color: #f8f9fa;
}

.section-heading {
  font-size: 2.5rem;
  font-weight: 600;
  color: #212529;
  line-height: 1.5;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 1;
}

.section-heading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50%;
  width: 80px;
  height: 3px;
  background-color: #20c997;
}

.section-heading::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 100%;
  text-transform: uppercase;
  color: #dee3e4;
  opacity: 0.4;
  font-size: calc(4rem + 4vw);
  line-height: 1.3;
  z-index: -1;
}

/* ----- Specific Selectors ----- */
.cog-button {
  position: fixed;
  top: 33.34%;
  right: 0;
  translate: 0% -50%;
  background-color: #555;
  color: white;
  padding: 0.75rem;
  border-radius: 0.25rem 0 0 0.25rem;
  font-size: 1.25rem;
  line-height: 1;
  cursor: pointer;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.75rem;
  height: 4.375rem;
  color: white;
}

.header li {
  transition: all 0.2s ease;
  cursor: pointer;
}

.header li:hover {
  color: #20c997;
}

.header__logo {
  font-size: 2rem;
  letter-spacing: -0.1rem;
  font-weight: 500;
}

.header__nav {
  display: flex;
  gap: 1.75rem;
}

.header__nav li:first-child {
  color: #20c997;
}

.header__social {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
}

.hero {
  height: 100vh;
  background-image: url(./img/intro-bg.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 2000px rgba(17, 20, 24, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.hero__welcome {
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.hero__heading {
  color: white;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 1rem;
}

.hero__location {
  font-size: 1.3125rem;
  color: #dee3e4;
  margin-bottom: 1.5rem;
}

.about .section-heading::before {
  content: "about me";
}

.about__row1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.about__text-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: calc(100% * 2 / 3);
}

.about__details {
  width: calc(100% * 1 / 3);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.about__subheading {
  font-weight: 600;
  font-size: 1.75rem;
}

.about__list li {
  padding: 0.75rem 0;
  border-bottom: 1px solid #eaeaea;
}

.about__list span {
  font-weight: 600;
}

.about__list a {
  color: #20c997 !important;
}

.about__stats {
  display: flex;
}

.about__stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem 0.75rem;
  width: calc(100% * 1 / 4);
}

.about__stat:not(:last-child) {
  border-right: dotted 1px #e0dede;
}

.about__stat-heading {
  font-size: 3rem;
  line-height: 1.3;
  font-weight: 500;
  color: #6c757d;
}

.services .section-heading::before {
  content: "services";
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.service {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  width: calc(50% - 1.5rem);
  min-width: 400px;
}

.service h3 {
  font-size: 1.25rem;
  font-weight: 500;
}

.service__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  padding: 1rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  color: #20c997;
}

.service__content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.summary .section-heading::before {
  content: "summary";
}

.summary__columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.summary__column {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: calc(50% - 1.5rem);
  min-width: 400px;
}

.resume-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  padding: 1.5rem;
}

.resume-box__date {
  background-color: #20c997;
  color: white;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  margin-bottom: 1rem;
}

.resume-box__heading {
  font-size: 1.3125rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.resume-box__subheading {
  color: #dc3545;
  margin-bottom: 1rem;
}

.summary__subheading {
  font-size: 1.5rem;
  font-weight: 600;
  color: #252b33;
  margin-bottom: -1.5rem;
}

.summary__skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  width: 100%;
}

.summary__skills-column {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: calc(50% - 1.5rem);
  min-width: 400px;
}

.skill {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: #212529;
  font-weight: 500;
}

.skill__content {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  height: 0.5rem;
  width: 100%;
  border-radius: 0.25rem;
  background-color: #e9ecef;
  position: relative;
}

.skill__bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 0.25rem;
  background-color: #20c997;
}

.skill__bar.p65::after {
  width: 65%;
}

.skill__bar.p95::after {
  width: 95%;
}

.skill__bar.p80::after {
  width: 80%;
}

.skill__bar.p70::after {
  width: 70%;
}

.skill__bar.p60::after {
  width: 60%;
}

.skill__bar.p99::after {
  width: 99%;
}

.portfolio .section-heading::before {
  content: "portfolio";
}

.testimonial .section-heading::before {
  content: "testimonial";
}

.testimonial__content {
  display: flex;
  gap: 1.5rem;
}

.testimonial-item {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 3rem;
  border-radius: 0.25rem;
  width: calc(50% - 0.75rem);
  background-color: #f8f9fa;
}

.testimonial-item__head {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.testimonial-item__head h3 {
  font-weight: 600;
  color: #212529;
  font-size: 1rem;
}

.testimonial-item__head p {
  font-weight: 500;
  color: #6c757d;
  font-size: 1rem;
}

.testimonial-item__image {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  overflow: hidden;
}

.testimonial-item__score {
  color: #ffc107;
}

.testimonial-item__paragraph {
  font-weight: 500;
  color: #212529;
}

.owl-dots {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.owl-dot-button {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 0.75rem;
  height: 0.75rem;
  cursor: pointer;
  position: relative;
  transition: all 0.5s ease;
}

.owl-dot-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid transparent;
  border-radius: 50%;
}

.owl-dot-button:first-child,
.owl-dot-button:hover {
  background-color: #20c997;
}

.owl-dot-button:first-child::after,
.owl-dot-button:hover::after {
  border: 1px solid #20c997;
}

.contact .section-heading::before {
  content: "contact";
}

.contact h3 {
  font-size: 1.3125rem;
  font-weight: 500;
  text-transform: uppercase;
}

.contact__content {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  row-gap: 3rem;
  width: 100%;
}

.contact__info-column {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: calc(100% * 1 / 4);
  min-width: 200px;
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: calc(100% * 3 / 4);
}

.form-control {
  border: 1px solid #ced4da;
  padding: 0.8rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #656565;
}

.small-control-container {
  display: flex;
  gap: 1.5rem;
}

.form-control.small {
  width: calc(50% - 0.75rem);
}

.footer {
  color: #252b33;
  padding: 4.125rem;
}

.footer__container {
  flex-direction: row;
  justify-content: space-between;
}

.footer__links {
  display: flex;
  gap: 1rem;
}

.footer__links span {
  color: rgba(0, 0, 0, 0.2);
}

/* ----- Media Queries ----- */
@media (min-width: 36rem) {
  .container {
    max-width: 33.75rem;
  }
}

@media (min-width: 48rem) {
  .container {
    max-width: 45rem;
  }
}

@media (min-width: 62rem) {
  .header {
    padding: 0 1.5rem;
  }
  .container {
    max-width: 60rem;
  }
}

@media (min-width: 75rem) {
  .container {
    max-width: 71.25rem;
  }
}

@media (min-width: 87.5rem) {
  .container {
    max-width: 82.5rem;
  }
}
